<uib-tabset active="active">
	<uib-tab heading="Datos">
		<div class="row">
			<div class="col-lg-4">
		  		<div class="form-group">
		  			<label>Clave</label>
		    		<input type="text" class="form-control" placeholder="Clave del producto">
		  		</div>		 	
		  	</div>
		  	<div class="col-lg-6">
		  		<div class="form-group">
			  		<label>Nombre</label>
			    	<input type="text" class="form-control" placeholder="Nombre del producto">
		    	</div>
		  	</div>
		  	<div class="col-lg-2">
		  		<div class="form-group">
			  		<label>Servicio</label>
			  		<div class="input-group">
				  		<div class="col-sm-10">
			        		<label class="switch">
			             		<input type="checkbox" checked="checked" />
			            		<span></span>
			            	</label>
		            	</div>
	            	</div>
		  		</div>		  		
		  	</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<label>Categoria</label>
					<select class="form-control">					
					</select>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="form-group">
					<label>Departamento</label>
					<select class="form-control">								
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<label>Inventario Minimo</label>
					<input type="text" class="form-control" placeholder="Inventario Minimo">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label>Inventario Maximo</label>
					<input type="text" class="form-control" placeholder="Inventario Maximo">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label>Localizacion</label>
					<input type="text" class="form-control" placeholder="Inventario Maximo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<label>Cuenta predial</label>
					<input type="text" class="form-control" placeholder="Cta predial">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="checkbox c-checkbox">
                	<label>
                 	<input type="checkbox" checked="" />
                 	<span class="fa fa-check"></span>Lote</label>
               	</div>
			</div>
			<div class="col-lg-4">
				<div class="checkbox c-checkbox">
                	<label>
                 	<input type="checkbox" checked="" />
                 	<span class="fa fa-check"></span>Receta</label>
               	</div>
			</div>
			<div class="col-lg-4">
				<div class="checkbox c-checkbox">
                	<label>
                 	<input type="checkbox" checked="" />
                 	<span class="fa fa-check"></span>Granel</label>
               	</div>
			</div>
		</div>				
	</uib-tab>
	<uib-tab heading="Precios">
		<div class="row"> 
			<div class="col-lg-12">				
				<label>Impuestos</label>
				<select class="form-control"></select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<label>Unidad de compra</label>
				<select class="form-control"></select>
			</div>
			<div class="col-lg-4">
				<label>Unidad de venta</label>
				<select class="form-control"></select>
			</div>
			<div class="col-lg-4">
				<label>Factor</label>
				<input type="number" class="form-control" />
			</div>
		</div>		
		<div class="row"> 
			<div class="col-lg-4">
				<label>Precio de compra</label>
				<div class="input-group">
                   	<input type="text" class="form-control" placeholder="0.00" />
                   	<span class="input-group-addon">X PZA</span>
                </div>
			</div>
			<div class="col-lg-4">
				<label>Precio Neto?</label>
				<div class="input-group">
                   	<div class="col-sm-10">
		        		<label class="switch">
		        			<input type="checkbox" checked="checked" />
		        			<span></span>
		           		</label>
	            		</div>
                </div>
			</div>
			<div class="col-lg-4">
				<label>Pre. promedio de compra</label>
				<div class="input-group">
					<span>$15.26</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<label>Precio de compra sin impuestos</label><br>
				<span>$15.23 X PZA </span><span>$15.23 X PZA</span>
			</div>
			<div class="col-lg-4">
				<label>Compra prom. sin imp.</label>
				<span>$0.00 X PZA</span> <span>$0.00 X PZA</span>
			</div>
		</div>		
		<div class="row">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th style="width: 136px"></th>
						<th>Precio 1</th>
						<th>Precio 2</th>
						<th>Precio 3</th>
						<th>Precio 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Margen de utilidad %</td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
					</tr>
					<tr>
						<td>Mayoreo</td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
					</tr>
					<tr>
						<td>Precio de venta neto</td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
						<td><input type="text" class="form-control input-sm" placeholder="00.00"></td>
					</tr>
					<tr>
						<td>Precio de venta</td>
						<td><strong>$ 123.00</strong></td>
						<td><strong>$ 123.00</strong></td>
						<td><strong>$ 123.00</strong></td>
						<td><strong>$ 123.00</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</uib-tab>
	<uib-tab heading="Descripcion">
		<div class="row">
			<div class="col-lg-12">
				<label>Caracteristicas</label>
				<textarea class="form-control" rows="7"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="panel">
	              	<div class="panel-body">
	              		<div class="pull-right">
		               		<div class="checkbox c-checkbox">
			                	<label>
			                 		<input type="checkbox" checked="" />
			                 		<span class="fa fa-check"></span>
			                 	</label>
		               		</div>
		               	</div>
	              		<a href="">
	                  		<img src="app/img/bg1.jpg" class="img-responsive" />
	               		</a>
	               </div>
	               <div class="panel-footer">
		            	<div class="row">
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                    <em class="fa fa-edit"></em>
				                </a>
		            		</div>
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                    <em class="fa fa-search-plus"></em>
				                </a>     
		            		</div>
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                   <em class="fa fa-trash"></em>
				                </a>
		            		</div>            	
		            	</div>            	
		           </div>
	            </div>
			</div>
			<div class="col-lg-4">
				<div class="panel">
					<div class="panel-heading" class="pull-rigth">     	
		               	<div class="pull-right">
		               		<div class="checkbox c-checkbox">
			                	<label>
			                 		<input type="checkbox" checked="" />
			                 		<span class="fa fa-check"></span>
			                 	</label>
		               		</div>
		               	</div>
		            </div>	              
	              	<div class="panel-body">
	              		<a href="">
	                  		<img src="app/img/bg1.jpg" class="img-responsive" />
	               		</a>
	               </div>
	               <div class="panel-footer">
		            	<div class="row">
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                    <em class="fa fa-edit"></em>
				                </a>
		            		</div>
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                    <em class="fa fa-search-plus"></em>
				                </a>     
		            		</div>
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                   <em class="fa fa-trash"></em>
				                </a>
		            		</div>            	
		            	</div>            	
		           </div>
	            </div>
			</div>
			<div class="col-lg-4">
				<div class="panel">
					<div class="panel-heading" class="pull-rigth">       	
		               	<div class="pull-right">
		               		<div class="checkbox c-checkbox">
			                	<label>
			                 		<input type="checkbox" checked="" />
			                 		<span class="fa fa-check"></span>
			                 	</label>
		               		</div>
		               	</div>
		            </div>	              
	              	<div class="panel-body">
	              		<a href="">
	                  		<img src="app/img/bg1.jpg" class="img-responsive" />
	               		</a>
	               </div>
	               <div class="panel-footer">
		            	<div class="row">
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                    <em class="fa fa-edit"></em>
				                </a>
		            		</div>
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                    <em class="fa fa-search-plus"></em>
				                </a>     
		            		</div>
		            		<div class="col-lg-4">
				            	<a href="#" style="color:#c1c2c3">
				                   <em class="fa fa-trash"></em>
				                </a>
		            		</div>            	
		            	</div>            	
		           </div>
	            </div>
			</div>
		</div>
	</uib-tab>
</uib-tabset>
<div class="row">
	<div class="col-lg-12">
		<button type="button" class="btn btn-default pull-left">General Clave</button>
		<button type="button" class="btn btn-default pull-right">Guarda/Actualizar</button>		
	</div>	
</div>